.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;

	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-style: 14px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.outline {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: none;
}

.outline:hover {
	color: var(--white);
	background: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.primary svg,
.outline:hover svg {
	fill: var(--white);
}

.arrow {
	display: inline-block;

	margin-left: 10px;

	transition: all, 0.2s;
}

.arrowDown {
	transform: rotate(90deg);
}
