.footer {
	display: grid;

	padding: 25px 32px;

	text-align: center;

	color: var(--white);
	background-color: var(--primary);

	font-size: 16px;

	/* font-weight: 500; */
	line-height: 22px;
	grid-area: footer;
	gap: 40px;
	grid-template-columns: 1fr auto auto;
}

.footer a:hover {
	color: var(--gray-light);
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 12px;
		justify-items: center;
	}
}
